html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__btn {
  font-family: "Effra", sans-serif;
  font-weight: 700;
}

.footer__item:first-child {
  font-family: "Effra", sans-serif;
  font-weight: 400;
}

.footer__copyright,
html,
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.header__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.3s;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  font-display: swap;
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Heavy.woff2") format("woff2"), url("fonts/AvenirNextCyr-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 26px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 30px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__user-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__user-link {
  max-width: 32px;
  max-height: 32px;
}

.header__btn {
  font-size: 16px;
  line-height: 19px;
  background-color: #ff7d4e;
  width: 154px;
  height: 50px;
  border-radius: 100px;
}

.header__btn:hover {
  background-color: #6E5DDC;
}

.footer {
  background: #FAF8F6;
  padding: 72px 202px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 60px;
}

.footer__copyright {
  max-width: 124px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  opacity: 0.3;
}

.footer__list:nth-of-type(1) {
  display: flex;
  flex-flow: column wrap;
  max-height: 251px;
  max-width: 315px;
  width: 100%;
}

.footer__item {
  position: relative;
  font-size: 14px;
  line-height: 35px;
  color: #000;
  opacity: 0.5;
}

.footer__item:first-child {
  font-size: 18px;
  line-height: 45px;
  color: #000;
  margin-bottom: 20px;
  opacity: 1;
}

.footer__item--lh {
  max-width: 160px;
  line-height: 21px;
}

.footer__item--wrap {
  margin-top: 60px;
}

.footer__link--social {
  padding-left: 32px;
}

.footer__link--social::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__link--facebook::before {
  background-image: url(../img/facebook-icon.svg);
}

.footer__link--instagram::before {
  background-image: url(../img/instagram-icon.svg);
}