html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.account__btn,
.order__btn,
.menu__link.active,
.header__btn {
  font-family: "Effra", sans-serif;
  font-weight: 700;
}

.account__type,
.order__num,
.card-item__btn,
.profile__title {
  font-family: "Effra", sans-serif;
  font-weight: 500;
}

.footer__title,
.card-item__top,
.menu__item {
  font-family: "Effra", sans-serif;
  font-weight: 400;
}

.card-item__price {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
}

.footer__copyright,
html,
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.account__btn,
.account__btn-file,
.order__btn,
.card-item__btn,
.header__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.3s;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  font-display: swap;
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Heavy.woff2") format("woff2"), url("fonts/AvenirNextCyr-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("fonts/Effra-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Medium.woff2") format("woff2"), url("fonts/Effra-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Effra;
  font-display: swap;
  src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("fonts/Effra-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 26px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 30px;
  padding-left: 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__user-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__user-link {
  max-width: 32px;
  max-height: 32px;
}

.header__btn {
  font-size: 16px;
  line-height: 19px;
  background-color: #ff7d4e;
  width: 154px;
  height: 50px;
  border-radius: 100px;
}

.header__btn:hover {
  background-color: #6E5DDC;
}

.profile {
  padding: 48px 0 100px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1392px;
  margin: 0 auto;
}

.profile__block {
  max-width: 1040px;
  width: 100%;
  display: none;
}

.profile__block.active {
  display: block;
}

.profile__title {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 42px;
}

.menu {
  max-width: 220px;
  width: 100%;
  transform: translate(-2px, -6px);
}

.menu__item {
  font-size: 22px;
  line-height: 70px;
}

.menu__item:last-child {
  color: #d32d2c;
}

.subscruption {
  display: none;
}

.card-item {
  background: #FAF8F6;
  border-radius: 16px;
  padding-left: 41px;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-right: 30px;
  display: flex;
  gap: 30px;
}

.card-item__box {
  max-width: 120px;
  height: 170px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.card-item__box--minerals {
  background-color: #94D6BE;
}

.card-item__box--prenatal {
  background-color: #DA91E0;
}

.card-item__box--dietary {
  background-color: #9C91E0;
}

.card-item__box-img {
  max-width: 120px;
}

.card-item__content {
  width: 100%;
}

.card-item__desc {
  margin-top: 10px;
}

.card-item__category {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.card-item__category--minerals {
  color: #6BB0A4;
}

.card-item__category--prenatal {
  color: #9448A0;
}

.card-item__category--dietary {
  color: #6B5EBB;
}

.card-item__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 24px;
}

.card-item__price {
  font-size: 18px;
  line-height: 25px;
  transform: translateX(-11px);
}

.card-item__delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-1px);
}

.card-item__date-delivery {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  opacity: 0.5;
}

.card-item__date-send {
  line-height: 22px;
}

.card-item__btn {
  max-width: 164px;
  width: 100%;
  height: 50px;
  line-height: 19px;
  border-radius: 100px;
  color: #d32d2c;
  background-color: transparent;
  border: 2px solid rgba(211, 45, 44, 0.2);
  transform: translateX(-10px);
}

.card-item + .card-item {
  margin-top: 18px;
}

.order {
  display: none;
}

.order__inner {
  padding: 41px 40px 44px 41px;
  background: #FAF8F6;
  border-radius: 16px;
}

.order__inner + .order__inner {
  margin-top: 20px;
}

.order__top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
}

.order__date {
  opacity: 0.5;
}

.order__num {
  font-size: 22px;
  margin-bottom: 40px;
}

.order__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 34px;
}

.order__item {
  padding: 0;
  max-width: 460px;
  gap: 30px;
}

.order__card-top {
  flex-direction: column;
  justify-content: space-between;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.order__text {
  margin-bottom: 52px;
}

.order__price {
  transform: translateX(0);
}

.order__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(7px);
}

.order__amount {
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.order__amount span {
  display: block;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 4px;
  color: #000;
  font-weight: 600;
  transform: translateY(3px);
}

.order__btn {
  max-width: 154px;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background-color: #ff7d4e;
  line-height: 19px;
}

.order__item + .order__item {
  margin-top: 0;
}

.account {
  display: none;
}

.account__top {
  display: flex;
  justify-content: space-between;
  max-width: 923px;
}

.account__type {
  font-size: 22px;
  display: none;
  transform: translateY(14px);
}

.account__type.active {
  display: block;
}

.account__form {
  max-width: 923px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  row-gap: 32px;
}

.account__label {
  max-width: 443px;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  transform: translateX(3px);
}

.account__label--state {
  max-width: 206px;
}

.account__label--select {
  cursor: pointer;
}

.account__label--select::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 52px;
  transform: translateY(-50%);
  width: 15px;
  height: 9px;
  background: url(../img/profile/Back_arrow.svg) no-repeat;
}

.account__label--select input {
  cursor: pointer;
}

.account__label--wholesale {
  max-width: 100%;
  display: none;
}

.account__label--wholesale.active {
  display: block;
}

.account__label--wholesale input {
  max-width: 443px;
  font-size: 16px;
  margin-top: 4px;
}

.account__input {
  margin-top: 5px;
  width: 100%;
  display: block;
  padding: 15px 24px;
  background: #FAF8F6;
  border-radius: 12px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  border: none;
}

.account__input::-moz-placeholder {
  color: #000;
}

.account__input::placeholder {
  color: #000;
}

.account__btn-file {
  position: absolute;
  left: 330px;
  top: 35px;
  background-color: #ff7d4e;
  max-width: 104px;
  width: 100%;
  height: 36px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.account__btn {
  max-width: 154px;
  width: 100%;
  height: 50px;
  background-color: #ff7d4e;
  border-radius: 100px;
  border: none;
  line-height: 19px;
  margin-top: 10px;
  transform: translateX(5px);
}

.payments {
  display: none;
}

.payments__form {
  max-width: 674px;
  width: 100%;
  padding: 50px 40px 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 60px;
       column-gap: 60px;
  justify-content: space-between;
  background: url(../img/profile/payment-img.png) no-repeat;
  background-position-x: 2px;
}

.payments__label {
  max-width: 175px;
}

.payments__label:first-child {
  max-width: 500px;
  width: 100%;
}

.payments__label:first-child .payments__input {
  max-width: 410px;
  width: 100%;
  margin-bottom: 33px;
}

.payments__label:nth-of-type(3) {
  text-align: center;
}

.payments__label:nth-of-type(3) .payments__input {
  margin-left: auto;
}

.payments__label--cvc {
  transform: translateY(40px);
}

.payments__input {
  display: block;
  padding: 15px 24px;
  border-radius: 12px;
  background-color: #fff;
  border: none;
  margin-top: 8px;
  max-width: 104px;
  font-size: 18px;
  line-height: 25px;
}

.payments__input::-moz-placeholder {
  color: #000;
}

.payments__input::placeholder {
  color: #000;
}

.payments__btn {
  margin-top: 129px;
  transform: translateX(-39px);
}

.changepass {
  display: none;
  transform: translateX(1px);
}

.changepass__title {
  margin-bottom: 39px;
}

.changepass__form {
  max-width: 443px;
  transform: translateX(3px);
}

.changepass__input {
  margin-bottom: 24px;
}

.changepass__btn {
  margin-top: 40px;
  transform: translateX(0);
}

.footer {
  background: #FAF8F6;
  padding: 70px 201px 66px 188px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 60px;
}

.footer__copyright {
  max-width: 124px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  opacity: 0.3;
}

.footer__title {
  font-size: 18px;
  line-height: 45px;
  color: #000;
  margin-bottom: 5px;
}

.footer__info {
  max-width: 206px;
  width: 100%;
  transform: translate(0px, -11px);
}

.footer__info--first {
  max-width: 315px;
  width: 100%;
  margin-left: 82px;
}

.footer__info--second {
  max-width: 197px;
  transform: translate(9px, -11px);
}

.footer__info--third {
  max-width: 211px;
  transform: translate(19px, -11px);
}

.footer__list--wrap {
  display: flex;
  flex-flow: column wrap;
  max-width: 183px;
  width: 100%;
  max-height: 190px;
}

.footer__item {
  position: relative;
  font-size: 14px;
  line-height: 35px;
  color: #7D7C7B;
}

.footer__item--lh {
  line-height: 21px;
  margin-bottom: 14px;
  transform: translateY(6px);
}

.footer__item--wrap {
  margin-top: 60px;
}

.footer__item--social {
  margin-bottom: 4px;
}

.footer__link--social {
  padding-left: 32px;
}

.footer__link--social::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__link--facebook::before {
  background-image: url(../img/icons/facebook-icon.svg);
}

.footer__link--instagram::before {
  background-image: url(../img/icons/instagram-icon.svg);
}