.cart {
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 110;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  &.active {
    transform: translateX(0);
  }
  &__wrapper {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 0.5s ease;
    z-index: 100;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      opacity: 0;
      backdrop-filter: blur(5px);
      z-index: -1;
      background-color: #000;
      transition: all .5s ease;
    }
    &.active {
      pointer-events: all;
      right: 0;
      &::before {
        opacity: 0.3;
      }
    }
  }
  &__header {
    padding: 40px 40px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
  }
  &__title {
    @extend %effra-500;
    font-size: 26px;
    line-height: 31px;
  }
  &__close {
    cursor: pointer;
  }
  &__body {
    overflow: auto;
    flex-grow: 1;
    // &.empty {
    //   overflow: unset;
    //   * {
    //     display: none;
    //   }
    //   ~.cart__order {
    //     display: none;
    //   }
    // }
  }
  &__empty {
    display: none;
    background-image: url(../img/cart/cart-bg.svg);
    background-repeat: no-repeat;
    background-size: 294px 350px;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 107px);
    &.empty {
      display: flex;
    }
  }
  &__order {
    padding: 30px;
    &.empty {
      display: none;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    background-color: #FF7D4E;
    color: #fff;
    border: 0;
    padding: 20px 0;
    border-radius: 100px;

    @extend %effra-700;
    font-size: 20px;
    line-height: 24px;

    span {
      padding-left: 38px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #fff;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
      }
    }
  }
  .cart-item {
    padding: 30px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-bottom: 4px;
    &__graphic {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      max-width: 120px;
      width: 100%;
      min-height: 170px;
      height: 100%;
      background-color: $pink;
      &--bg {
        background-color: $purple;
      }
    }
    &__content {
      
    }
    &__content-box {
      display: flex;
      margin-bottom: 18px;
      margin-top: 7px;
      gap: 20px;
    }
    &__title {
      @extend %effra-400;
      font-size: 20px;
      line-height: 24px;
    }
    &__close {
      width: 14px;
      height: 14px;
      margin: 6px 10px;
      flex-shrink: 0;
      opacity: 0.5;
      cursor: pointer;
    }
    &__content-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
      margin-bottom: 12px;
      border-bottom: 1px solid #f2f2f2;
    }
    &__counter {
      display: flex;
      gap: 15px;
      :nth-child(1),
      :nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        color: #000;
        font-size: 24px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 2px;
          background: #000;
          // top: 50%;
          // transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      :nth-child(3) {
        &::after {
          content: '';
          position: absolute;
          height: 8px;
          width: 2px;
          background: #000;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &__price {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      &--discount {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
       color: $redMain;
       span {
        font-size: 12px;
        line-height: 16px;
        color: #000;
        text-decoration: line-through;
       }
      }
    }
    &__autoship {
      position: relative;
      span {
        font-size: 12px;
        line-height: 16px;
        opacity: 0.5;
      }
    }
    &__label {
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      transition: all 0.5s ease;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border-radius: 4px;
        border: 1px solid #f2f2f2;
        transition: all 0.5s ease;
      }
      &::after {
        content: '';
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/cart/checked.svg) no-repeat;
        background-size: cover;
        width: 10px;
        height: 7px;
        opacity: 0;
        transition: all 0.5s ease;
      }
    }
    &__checkbox {
      position: absolute;
      left: 0;
      top: 0;
      appearance: none;
    }
    &__checkbox:checked + .cart-item__label {
      &::before {
        background-color: #FF7D4E;
      }
      &::after {
        z-index: 10;
        opacity: 1;
      }
    }
    &__select {
      border: 0;
      background-color: #f5f5f5;
      color: #000;
      font-size: 12px;
      line-height: 16px;
      padding: 6px 8px 6px 7px;
      margin: 0 19px 0 12px;
    }
  }
}