.footer {
    background: #FAF8F6;
    padding: 70px 0 66px;
    @media (max-width: 769px) {
      padding: 42px 0;
    }
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 769px) {
      flex-wrap: wrap;
      row-gap: 27px;
      padding-bottom: 15px;
      position: relative;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 59px;
    @media (max-width: 769px) {
      margin-bottom: 0;
      max-width: 42px;
      min-height: 50px;
    }
  }
  &__copyright {
    max-width: 124px;
    @extend %os-400;
    font-size: 12px;
    line-height: 16px;
    color: $black;
    opacity: 0.3;
    &--mobile {
      display: none;
    }
    @media (max-width: 769px) {
      display: none;
      &--mobile {
        display: block;
        max-width: 235px;
      }
    }
  }
  &__title {
    font-size: 18px;
    line-height: 45px;
    @extend %effra-400;
    color: $black;
    margin-bottom: 5px;
    @media (max-width:993px) {
      margin-bottom: 2px;
    }
  }
  &__wrap {
    transform: translate(2px, -2px);
    @media (max-width: 769px) {
      flex: 1 1 100%;
    }
  }
  &__info {
    max-width: 206px;
    width: 100%;
    transform: translate(2px, -13px);
    @media (max-width: 769px) {
      max-width: 160px;
      transform: translate(0, 0);
    }
    @media (max-width: 360px) {
      max-width: 132px;
    }
    &--first {
      max-width: 315px;
      width: 100%;
      margin-left: 73px;
      @media (max-width: 993px) {
        margin-left: 0;
        max-width: 160px;
      }
    }
    &--second {
      max-width: 197px;
      transform: translate(3px, -13px);
      @media (max-width:993px) {
        transform: translate(0, -13px);
        .footer__title {
          margin-bottom: 7px;
        }
      }
    }
    &--third {
      max-width: 211px;
      transform: translate(3px, -12px);
      @media (max-width:769px) {
        transform: translate(0, -13px);
        .footer__title {
          margin-bottom: 9px;
        }
      }
    }
  }
  &__list {
    &--wrap {
        display: flex;
        flex-flow:column wrap;
        max-width: 185px;
        width: 100%;
        max-height: 190px;
        height: 100%;
        @media (max-width: 993px) {
          display: block;
          max-height: unset;
        }
    }
  }
  &__item {
    position: relative;
    font-size: 14px;
    line-height: 35px;
    color: #7D7C7B;
    &--lh {
      line-height: 21px;
    margin-bottom: 14px;
    transform: translateY(6px);
    }
    &--wrap {
      margin-top: 60px;
    }
    &--social {
      margin-bottom: 4px;
    }
    @media (max-width: 993px) {
      line-height: 19px;
      margin-bottom: 16px;
      &--lh {
        margin-bottom: 22px;
      }
    }
  }
  &__link {
    &--social {
        padding-left: 32px;
        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-size: cover;
            background-repeat: no-repeat;
            
        }
    }
    &--facebook {
        &::before {
            background-image: url(../img/icons/facebook-icon.svg);
        }
    }
    &--instagram {
        &::before {
            background-image: url(../img/icons/instagram-icon.svg);
        }
    }
  }
}


  