@import 'global';
@import 'header';
@import 'footer';

body.product-page {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }
}
.product {
  padding-top: 110px;
  background: linear-gradient(90deg, #9C91E0 50%, #ffffff 50%);
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  @media (max-width: 993px) {
    background: linear-gradient(180deg, #9c91e0 23%, #ffffff 23%);
    padding-top: 70px;
  }
  @media (max-width: 993px) {
    background: linear-gradient(180deg, #9c91e0 632px, #ffffff 632px);
  }
  @media (max-width: 601px) {
    background: linear-gradient(180deg, #9c91e0 572px, #ffffff 572px);
  }
  @media (max-width: 540px) {
    background: linear-gradient(180deg, #9c91e0 502px, #ffffff 502px);
  }
  @media (max-width: 475px) {
    background: linear-gradient(180deg,#9c91e0 462px,#fff 462px);
  }
  @media (max-width: 420px) {
    background: linear-gradient(180deg, #9c91e0 436px, #fff 436px);
  }
  &__decor {
    &-1 {
      position: absolute;
      top: 34px;
      left: 45%;
      transform: translateX(-40.4%);
      @media (max-width: 1250px) {
        left: 44%;
        transform: translateX(-50%);
      }
      @media (max-width: 993px) {
        display: none;
      }
    }
  }
  &__inner  {
    display: flex;
    padding-top: 50px;
    @media (max-width: 993px) {
      flex-direction: column;
      padding-top: 0;
    }
  }
  &__pill {
    flex: 0 0 50%;
    transform: translate(-54px, 8px);
    @media (max-width: 1250px) {
      transform: translate(0px, 8px);
    }
    @media (max-width: 993px) {
      img {
        margin: 0 auto;
        transform: translate(0, 0);
      }
    }
    @media (max-width: 400px) {
      transform: translate(-16px, 2px);
      img {
        max-width: 110%;
      }
    }
  }
  &__details {
    flex: 0 0 50%;
    padding-left: 135px;
    padding-bottom: 73px;
    @media (max-width: 1250px) {
      padding-left: 100px;
    }
    @media (max-width: 1100px) {
      padding-left: 50px;
    }
    @media (max-width: 993px) {
      padding-top: 40px;
      padding-left: 0;
    }
    @media (max-width: 420px) {
      padding-top: 64px;
    }
  }
  &__btn-back {
    position: absolute;
    top: 42px;
    padding: 0 0 0 24px;
    z-index: 40;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(-45deg);
      border-top: 2px solid #000;
      border-left: 2px solid #000;
    }
    @media (max-width: 993px) {
      display: none;
    }
  }
  &__suptitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $purpleText;
    margin-bottom: 13px;
    @media (max-width: 769px) {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 14px;
      transform: translateX(2px);
    }
  }
  &__title {
    @extend %effra-500;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
    @media (max-width: 769px) {
      font-size: 24px;
      line-height: 29px;
      transform: translateX(2px);
    }
  }
  &__box {
    padding: 40px 30px 40px 0;
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 420px) {
      align-items: flex-end;
    }
  }
  &__box-text {
    padding-left: 70px;
    position: relative;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    @media (max-width: 420px) {
      padding-left: 0;
      padding-top: 80px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 50px;
      height: 60px;
      background-image: url(../img/product/pills-icon.svg);
      background-repeat: no-repeat;
      @media (max-width:420px) {
        top: 0;
      }
    }
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      opacity: .5;
      margin-top: 4px;
      letter-spacing: 0;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    span {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #f5f5f5;
      position: relative;
      cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 2px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #000;
        }
        &:last-child {
          &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 12px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #000;
          }
        }
        &:first-child {
          &::before {
            opacity: .3;
          }
        }
    }
  }
  &__num {
    @extend %effra-400;
    font-size: 20px;
    line-height: 24px;
  }
  &__buy {
    padding: 29px 30px;
    border: 1px solid #E6E6E6;
    border-radius: 16px;
    margin-bottom: 90px;
    @media (max-width: 601px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__autoship {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    @media (max-width: 601px) {
      order: 2;
      padding-bottom: 0;
      padding-top: 30px;
      margin-bottom: 0;
      margin-top: 30px;
      border-bottom: 0;
      border-top: 1px solid #e6e6e6;
    }
  }
  &__autoship-text {
    font-size: 14px;
    line-height: 19px;
    opacity: .5;
    display: flex;
    max-width: 285px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
    order: -1;
    @media (max-width: 601px) {
      max-width: 180px;
    }
    span {
      max-width: 68px;
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 8px;
      padding-left: 16px;
      position: relative;
      cursor: pointer;
      @media (max-width: 601px) {
        max-width: 40px;
        padding-left: 0;
        justify-content: center;
      }
      &::after {
        content: '';
        position: absolute;
        background-image: url(../img/product/Back_arrow.svg);
        width: 10px;
        height: 6px;
        background-repeat: no-repeat;
        right: 12px;
        @media (max-width: 601px) {
          display: none;
        }
      }
    }
  }
  &__autoship-checkbox {
    width: 62px;
    height: 36px;
    border: 2px solid #dedede;
    border-radius: 30px;
    position: relative;
    background-color: $white;
    cursor: pointer;
    transition: all .5s;
    &::before {
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background-color: #dedede;
      left: 3px;
      top: 3px;
      transition: all .5s;
    }
  }
  &__autoship-input {
    appearance: none;
  }
  &__autoship-input:checked + .product__autoship-checkbox {
    border-color: $orangeMain;
    &::before {
      left: 29px;
      background-color: $orangeMain;
    }
    ~.product__autoship-text {
      opacity: 1;
    }  
  }
  &__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__add-price {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    @media (max-width: 601px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__add-btn {
    @extend %btn;
    max-width: 330px;
    width: 100%;
    height: 65px;
    background-color: $orangeMain;
    border-radius: 100px;
    color: #fff;
    border: 0;
    @extend %effra-700;
    font-size: 20px;
    line-height: 24px;
    @media (max-width: 1250px) {
      max-width: 250px;
    }
    @media (max-width: 993px) {
      max-width: 200px;
    }
    @media (max-width: 420px) {
      max-width: 190px;
    }
  }
  &__desc {
    margin-bottom: 90px;
  }
  &__desc-title {
    @extend %effra-500;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 27px;
  }
  &__desc-text {
    line-height: 28px;
  }
  &__info-title {
    @extend %effra-500;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 38px;
  }
  &__info-box {
    margin-bottom: 29px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }
  }
  &__info-text {
    margin-right: 2px;
    &:first-child {
      line-height: 28px;
      font-weight: 600;
    }
    &:last-child {
      max-width: 324px;
      width: 100%;
      line-height: 28px;
    }
    &--span {
      margin-bottom: 28px;
      display: block;
    }
  }
  &__proposal {
    padding: 100px 0;
    .container {
      max-width: 1426px;
    }
  }
  &__proposal-title {
    @extend %effra-500;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
  }
}

.policy {
  &__list {
    margin: 33px 0;
    @media (max-width: 769px) {
        margin: 30px 0;
    }
}
&__item {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    padding-left: 49px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $orangeMain;
      top: 10px;
      left: -1px;
    }
    @media (max-width: 769px) {
        font-size: 14px;
        line-height: 24px;
        padding-left: 40px;
        &:before {
          width: 20px;
        }
    }
}
&__item + &__item {
    margin-top: 25px;
  }
}

.card {
  max-width: 325px;
  background-color: #FAF8F6;
  padding: 40px 30px 30px;
  border-radius: 16px;
  position: relative;
  @media (max-width: 769px) {
      max-width: 260px;
      padding: 10px 15px 20px;
  }
  @media (max-width: 576px) {
      max-width: 200px;
  }
  @media (max-width:457px) {
      max-width: 160px;
  }
  @media (max-width:375px) {
      padding: 30px 20px 20px;
      max-width: 280px;
      margin: 0 auto;
  }
  &__wrapper {
      display: flex;
      gap: 32px;
      @media (max-width:1520px) {
          justify-content: space-between;
          gap: 15px;
          flex-wrap: wrap;
      }
      @media (max-width:576px) {
          
      }
  }
  &__discount {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 51px;
      height: 27px;
      font-size: 12px;
      line-height: 16px;
      background-color: $redMain;
      color: #fff;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      @media (max-width: 769px) {
          width: 36px;
          height: 22px;
          top: 21px;
          right: 20px;
          font-size: 10px;
          line-height: 14px;
      }
  }
  &__box {
      margin-bottom: 41px;
      @media (max-width: 576px) {
          margin-bottom: 10px;
      }
      @media (max-width: 375px) {
          margin-bottom: 30px;
      }
  }
  &__body {
      display: flex;
      flex-direction: column;
      min-height: 124px;
      @media (max-width:576px) {
          min-height: 147px;
          .card__price {
              
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
          }
      }
      @media (max-width:457px) {
          min-height: 119px;
      }
      @media (max-width: 375px) {
          min-height: 103px;
      }
  }
  &__suptitle {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 19px;
      color: $greenText;
      font-weight: 600;
      @media (max-width: 576px) {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 11px;
      }
  }
  &__title {
      @extend %effra-400;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 17px;
      @media (max-width: 576px) {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
      }
  }
  &__price {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      margin-top: auto;
      @media (max-width:576px) {
          font-size: 16px;
          line-height: 22px;
      }
      &--discount {
          color: $redMain;
          span {
              color: $black;
              text-decoration: line-through;
              margin-right: 8px;
          }
      }
  }
}